.box {
    background-color: beige;
    width: 200px;
    position: relative;
    height: 150px;
}

.boxi {
    background-color: beige;
    width: 200px;
    height: 150px;
}

.boxi:hover {
    transition: 10px;
    position: absolute;
    left: 10px;
}